<!-- Maps Section -->
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<section id="maps" style="padding-top:0px;">
<div class="container">
    <div class="row">
    </div>
    <div class="row">
		<div class="col-md-6">
		<!-- Real Map -->
			<div id="map-content">
	  		<div id="map">
	  			<div id="custom_style"></div>
	  		</div>
	  	</div>
	  <!--/ Real Map-->
		<!--API testing-->
		</div>
		<div class="col-md-6 fixed-height">
			<form action="/map" method="get" class="form-horizontal">
<!--				<input type="hidden" name="_zwsid" value="X1-ZWz1az100jazgr_82rpe">
				<input type="text" class="form-control" name="_streetaddress" placeholder="Enter the Street Address"> <!-- use.join("+") -->
<!--				<input type="text" class="form-control" name="_city" placeholder="Enter the City">
				<input type="text" class="form-control" name="_state" placeholder="Enter the State"> -->
				<div class="row gap2">
				</div>
				<div class="input-group">
					<input type="text" class="form-control" name="_address" placeholder="Enter full address">
					<span class="input-group-btn">
						<button class="btn btn-success glyphicon glyphicon-search"></button>
					</span>
				</div>
			</form><!--/ API testing-->

<!-- /input-group -->
			<div class="row gap">
			</div>
			<img src="<%=@imgsrc%>" alt="Picture for <%=@address%>" />
			<h5><%=@address%></h5>
			<h7>Neighborhood: <%=@neighborhood%><br></h7>
			<h7>School District: <%=@schoolDistrict%><br></h7>
			<div class="col-md-12">
				<table class="table table-stripped">
					<div class="row">
						<tr>
							<td>Rooms:</td>
							<td><%=@roomtype%></td>
						</tr>
					</div>
					<div class="col-md-6">
						<tr>
							<td>Sq. Ft.</td>
							<td><%=@sqft%></td>
						</tr>
						<tr>
							<td>Lot Sq. Ft.</td>
							<td><%=@lotsqft%></td>
						</tr>
						<tr>
							<td>Family Size</td>
							<td><%=@familysize%></td>
						</tr>
						<tr>
							<td>Year Built</td>
							<td><%=@yearbuilt%></td>
						</tr>
						<tr>
							<td>Roof</td>
							<td><%=@roof%></td>
						</tr>
						<tr>
							<td>Heating System</td>
							<td><%=@heatingsystem%></td>
						</tr>
					</div>
				</table>
				<table class="col-md-6 table table-stripped">
					<div class="col-md-6">
						<tr>
							<td>Bedroom Count</td>
							<td><%=@bedrooms%></td>
						</tr>
						<tr>
							<td>Bathroom Count</td>
							<td><%=@bathrooms%></td>
						</tr>
						<tr>
							<td>Last Sold Date</td>
							<td><%=@lastsolddate%></td>
						</tr>
						<tr>
							<td>Last Sold Price</td>
							<td><%=@lastsoldprice%></td>
						</tr>
						<tr>
							<td>Number of Floors</td>
							<td><%=@numoffloors%></td>
						</tr>
						<tr>
							<td>Year Updated</td>
							<td><%=@yearupdated%></td>
						</tr>
					</div>
				</table>
			</div><!--/End Listing Info-->

			<!-- Monthly Overhead Form-->
			<form action="#" method="get" class="form-horizontal">
				<input type="text" class="form-control" name="_monthlymortage" placeholder="Monthly Mortage">
				<input type="text" class="form-control" name="_annualtaxes" placeholder="Annual Taxes">
				<input type="text" class="form-control" name="_annualinsurance" placeholder="Annual Insurance">
				<input type="text" class="form-control" name="_monthlyexpense" placeholder="Monthly Expenses">
				<input type="submit" class="btn btn-default" value="Calculate">
			</form><!-- / Monthly Overhead Form-->

			<!-- Monthly Overhead Result-->
			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Base monthly overhead</h3>
			  	</div>
			  	<div class="panel-body">
			    	<h3>$1,467</h3>
			  	</div>
			</div><!-- / Monthly Overhead Result-->

			<!-- Find Ideal Tenants-->
			<div class="white-smoke">
				<h3><bold>Now find your ideal voucher tenants</bold></h3>
				<h3>Desired rental unit profit percentage:</h3>
					<select name="profitPercentage">
						<option value=".10">10%</option>
						<option value=".20">20%</option>
						<option value=".30">30%</option>
					</select>

				<h3>Desired Tenant Disposable Income Level</h3>
					<select name="profitPercentage">
						<option value="Low">Low</option>
						<option value="Mod">Mod</option>
						<option value="High">High</option>
					</select>

				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Available voucher tenats for your property</h3>
				  	</div>
				  	<div class="panel-body">
				    	<h3>201 tenants</h3>
				  	</div>
				</div>

				<table class="col-md-3 table table-stripped">
					<tr>
						<td>Fair Market Value (FMV)</td>
						<td>Estimated Monthly Rent</td>
						<td>$1,580</td>
						<td>Available Voucher Tenants</td>
						<td>1,200</td>
						<td>Avg. Tenant Eviction Rate</td>
						<td>0.2%</td>
					</tr>
					<tr>
						<td>var</td>
						<td>Estimated Monthly Rent</td>
						<td>$1,613</td>
						<td>Vacant Units in Your Area</td>
						<td>301</td>
						<td>Avg. Tenant Eviction Rate</td>
						<td>37%</td>
					</tr>
				</table>

				<a href="#" class="btn btn-primary">List Your Local HUD Authority</a>

			</div><!-- Find Ideal Tenants-->

			<!-- Mortage Calculator Widget Starts -->
			<div id="horizontalWidget" style="width:370px;overflow:hidden;margin: 0 auto;text-align:center;font-family:verdana,arial,sans-serif;font-size:8pt;line-height:13x;background-color:#dbdbdb;letter-spacing:0;text-transform:none;border-radius: 5px;webkit-border-radius:5px;">
				<div style="margin:6px 0;">
					<a href="http://www.zillow.com/mortgage-calculator/" target="_blank" title="Mortgage Calculators on Zillow" style="font-family:Arial;font-size:15px;text-decoration:none;font-weight:bold;color:#666666;cursor: pointer;display: block;text-align: center;text-shadow: 0 1px #fff;">Estimate Payment</a>
				</div>
				<div style="width:352px;margin:0 auto;background-color:#f4f4f4;text-align:left; font-size:8pt;border-radius: 5px; border: 1px solid;border-color:#cccccc;webkit-border-radius: 5px;padding: 0 1px;">
					<iframe title="Mortgage Calculator" frameborder="0" height="235px" style="float:left;" scrolling="no" width="352px" src="http://www.zillow.com/mortgage/SmallMortgageLoanCalculatorWidget.htm?price=400000&wtype=spc&rid=102001&wsize=small&textcolor=666666&backgroundColor=f4f4f4&advTabColor=9b9b9b&bgcolor=dbdbdb&bgtextcolor=666666&headerTextShadow=fff&widgetOrientationType=horizontalWidget">
					</iframe>
				<div style="clear:both;"></div>
				</div>
				<div style="height:20px;">
					<span style="display:block;margin:0 auto;font-size:7pt;height:15px;width:178px;color:#666666;padding-top:2px;"><a href="http://www.zillow.com/mortgage-rates/" target="_blank" title="Zillow Mortgages" style="text-decoration:none;color:#3366bb;font-weight:normal;font-family:verdana,arial,sans-serif;font-size:7pt;color:#666666;">Zillow Mortgage Calculator</a>
					</span>
				</div>
			</div><!-- /Mortage Calculator Ends -->
		</div>
	</div>
</div>
</section>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers([
	    {
	      "lat": <%= @latitude %>,
	      "lng": <%= @longitude %>,
	      "picture": {
	        "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
	        "width":  36,
	        "height": 36
	      },
	      "infowindow": "hello!"
	    }
	  ]);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});

	drawMap(mapOptions)
</script>
